header {
    background-color: rgb(70, 150, 220);
    height: 120px;
}

#Logo_title {
    height: 60px;
    padding-top: 50px;
    padding-left: 10px;
}

.header_background {
    background-image: url(../imgs/pattern.png);
    background-size: 20%;
    height: 100%;
}

h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

span {
    color: rgba(0, 0, 255, 0.5);
}

.Tim {
    width: 49%;
    height: 600px;
}